<a href="https://colab.research.google.com/github/Alejandrico14/edd_1310_2021/blob/master/1octubre1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Esto intro Python3 
###Variables

Tipo dinámico =  "FES Aragón"

In [35]:
escuela = "FES Aragón"
print(escuela)
print("----------")
edad = 20
estatura = 1.72
fumador = True
frase = """
Esta es una frase 
de multiples 
lineas y tambien
es
un tipo de
dato
"""
print(frase)
nombre = "alberto"
nombre_completo = "Alberto Romero Oropeza"

FES Aragón
----------

Esta es una frase
de multiples
lineas y tambien
es
un tipo de
dato

# Print
con comas ,

con signo mas *+*

con format ()

con el operador f""

In [24]:

print(nombre,edad)

#  + concatena, pero necesita que le marque lo que tiene que hacer
# eso debido a que con el más se puede confundir con suma 


print(nombre,""  +str ( edad ))
print(nombre_completo )
# eso separado por minusculas y guion bajo se llama snake_case

Alberto 20
Alberto 20
Alberto Romero Oropeza

In [30]:
#Con formato -> Nombre: Alberto y su edad es de 20 años
print("Su nombre es", nombre, "y su edad es", edad, "años")

#aquí en el format está esperando a rellenar los comodines ( que 
# serían el 0 y el 1)
print("Su nombre es {0} y su edad es {1} años".format(nombre,edad) )

print("Su nombre es {1} y su edad es {0} años".format(nombre,edad) )

#Esto significa que el format te deja jugar con los indices (comodines)

print("Su nombre es {} y su edad es {} años".format(nombre,edad) )
# en este lo dejé igual solo que sin los numeros y asigna según llega

Su nombre es Alberto y su edad es 20 años
Su nombre es Alberto y su edad es 20 años
Su nombre es 20 y su edad es Alberto años
Su nombre es Alberto y su edad es 20 años

In [31]:
#con formato con el operador f""
print(f"El nombre es {nombre} y su edad es de {edad} años")

El nombre es Alberto y su edad es de 20 años

# Carácter de escape
\n Salto de linea

\t Tabulador

\a Beep

\\" Imprimir comilla doble

\\' Implimir comilla simple

In [32]:
"""
Esto es otro
comentario de
multiple linea
Bl
"""
print(f"\t Mi nombre es \n\t\t{nombre}")

	 Mi nombre es
		Alberto

#Ayuda de tipos de dato en Python
dir() 
help()

In [ ]:
#los tipo de datos son estos
#str,int, float, bool... list, dict, set
help(str)

In [45]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper(), end="-----" )
print(nombre_completo.title() )
print("Me gustan los tacos".upper())

Alberto romero oropeza
ALBERTO ROMERO OROPEZA-----Alberto Romero Oropeza
ME GUSTAN LOS TACOS

In [38]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Clase String
Es manejada como un arreglo( C o Java ) o lista (python)

In [46]:
telefono = "Huawei y9 2019 pro" 
print (telefono [5])
#solo mostrará la "1" porque estoy solo seleccionando esa letra con el 5

i

#Slicing (rebanado)
[(inicio):(stop):(incremento]]
 - las comas no van ahí pero las pongo para que se vea shido
 - el stop no se incluye, termina en el valor anterior al stop

In [55]:
print(telefono[7:10:1])
#solo mostrará el tipo de telefono
# el inicio y el incremento son opcionales
print(telefono[:10:])
#el valor por defecto de stop es len(str)
print(telefono[::])
print(telefono[::-2])
print(telefono[-3::1])
#con los valores negativos también se puede hacer

y9
Huawei y9
Huawei y9 2019 pro
op90 yiwu
pro

#Métodos de String (str)
Existen métodos muy útiles en esta clase

In [78]:
facultad= "    faculdad de estudios superiores aragón     \n "
print(facultad)
print(facultad.count("u")) #cuenta el numero de elementos en la cadena
print(facultad.find("s")) #Encuentra eso que le mandaste a buscar

print(facultad.strip()) #quita los espacios al inicio y al final, también puede quitar los saltos de linea

print(len(facultad))#len regresa la longitud del string

tamaño=len(facultad)
print(len(facultad))

print(f"tamaño de la cadena es { tamaño}  caracteres")
print(facultad)
print(facultad.split("u"))
print("----------------")
#para separar por espacios se hace...

print(facultad.strip().split(" "))

print("----------------------------")

#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
otra_cadena= "FES Aragón"
print(facultad)
print(otra_cadena)

#copiar listas
colores= ["rojo", "verde"]
otra= colores.copy()

print(colores)
print(otra)

otra.append("rosa")

print(colores)
print(otra)

    faculdad de estudios superiores aragón

3
17
faculdad de estudios superiores aragón
49
49
tamaño de la cadena es 49  caracteres
    faculdad de estudios superiores aragón

['    fac', 'ldad de est', 'dios s', 'periores aragón     \n ']
----------------
['faculdad', 'de', 'estudios', 'superiores', 'aragón']
----------------------------
    faculdad de estudios superiores aragón

    faculdad de estudios superiores aragón

FES Aragón
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']