<a href="https://colab.research.google.com/github/Alejandrico14/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#String continuación

numeros_txt = "    1,2,3, 4,   5,    35,    15, 12"

print(numeros_txt)
#con strip te saltas el primer espacio y los strip separan las palabras por cada coma 
#que encuentran
numeros_txt= numeros_txt.lstrip().split(",")
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())


print("__________________________")
print(numeros_txt)

#funcion range ()

# range(inicio, stop, incremento)
print(range(0,10,1))

rango = range(1,10,2)

for x in rango:
  print(x)

print("_______________")
rango= range (10)
for x in rango:
  print(x)

    1,2,3, 4,   5,    35,    15, 12
['1', '2', '3', ' 4', '   5', '    35', '    15', ' 12']
__________________________
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10)
1
3
5
7
9
_______________
0
1
2
3
4
5
6
7
8
9

# Listas

- Mutables
- Declaran con [ ]
- Selector[ int ]
- Pueden ser de cualquier tipo y mezclado

# Tuplas

- No mutables
- Se declaran con parentesis ()
- Selecctos [ int ]

# Diccionarios
- Son mutables
- Son conjunto de pares llave:valor
- Equivalentes a los objetos JSON de javaScript

# Conjuntos
- Representación de la teoría de conjuntos

In [26]:
# Listas (equivalente a arreglos en otros lenguajes de programación)
frutas = ["Pera", "Manzana","Fresa", "Kiwi","Naranja"]
print(frutas)



#son mutable, eso significa que podemos cambiar las listas cuando queramos
frutas[2]= "Freeesa" # o tambien frutas[2]= frutas[2].capitalize() pero recuerda que es para mayusculas
print(frutas)
#agregar a la lista


frutas.append("Awacate")
print(frutas)
#apeend siempre lo manda al final

frutas.insert(2,"Sandíá")
print(frutas)

fecha= ["06","10","2020"] #06/10/2020
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

# Eliminar elementos

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Cuadreno', 2, 3.1416, True, False, ['rojo', 'Azul']]
['Pera', 'Manzana', 'Freeesa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Freeesa', 'Kiwi', 'Naranja', 'Awacate']
['Pera', 'Manzana', 'Sandíá', 'Freeesa', 'Kiwi', 'Naranja', 'Awacate']
['06', '10', '2020']
06/10/2020

In [ ]:
help(list)

In [ ]:
# Eliminar elementos
cosas=["Cuadreno", 2 ,3.1416, True, False, ["rojo", "Azul"]]
       
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo= cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)

cosas.remove(2)
print(cosas)

cosas.append(algo)
print(cosas)

#vaciar una lista

cosas.clear()
print(cosas)

#ordenar
print(frutas)
frutas.sort()
#el sort lo ordena
print(frutas)

#para que sort funcione, los datos en la lista tiene que tener congruencia

In [ ]:
#Slicing
cosas=["Cuaderno", 2 ,3.1416, True, False, ["rojo", "Azul"]]

print(cosas[3:5:1])
print(cosas)
#recuerda siempre  que e Slicing solo toma los datos, el 3 es donde empieza y el 5 donde acaba 
#y el 1 es de cuanto en cuanto muestra el contenido
print(cosas[0][3:5:1])
#con ese comando solo seleccionamos el "de" de cuaderno

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:1])

print("_____________-")
print(numeros)
#el tope no se incluye y no hace falta escribir ahí el [:1]

#sustituir rebanadas -2,-2 -> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]

numeros[8:13] = [-2,-2]
print("Ya sustituido el -2,-2")
print(numeros)

#preguntar por existencia
print(100 in numeros)
print(-2 in numeros)

# Listas multidimensión

listas dentro de listas

In [78]:
computadoras = ["HP", "Mac Book pro 17", "Mate book", "lennovo legion"]
oss=["Windows 10", "Linux", "Android", "iOS",]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][6: :-1])
print(computo[0][3][-8: :-1])
#comprobando existencias
print("Linux"in computo[1])
dbms = [["Mysql","Open Source",False],["MS SQL Server","de paga", True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][0:2])
print(computo[2][1][0][3:6:1])

['HP', 'Mac Book pro 17', 'Mate book', 'lennovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovonnel
ovonnel
True
[['HP', 'Mac Book pro 17', 'Mate book', 'lennovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
['MS SQL Server', 'de paga']
SQL